@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: "Silkscreen", sans-serif;
}

a {
    text-decoration: none;
    color: yellow;
}

h1 {
    color: red;
    font-weight: 400;
}

.wrapper {
    width: 700px;
    margin: 0 auto
}